html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    height: 5vh;
    position: fixed;
    background-color: red;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    float: right;
    margin-right: 8px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}


#welcome-section {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

img {
    height: 60vh;
    width: 50vh;
    margin: 10px;
}

@media and (max-width = 400px) {
    #projects {
        display: block;
    }
}